<h1>Hello World!</h1>

<% target = 'Rzafer' %>
<%= "Hello #{target}" %>
<% 3.times do |n| %>
<%= n %>
<% end %>
<%= link_to('index page' , {:controller => 'test' , :action => 'test1' , :page => 5 , :id => 2 }) %>
